
.li{
	margin-left: auto;
	margin-right: auto;

}
.li2{
	height: 5070px;
	background:url('../img/h40.jpg');
	
}
.li3{

	height: 580px;
}
.li3 img{
	width:100%;
	height:560px;
	border: 0;
    outline: 0;
    vertical-align: middle;
}
.box{
	position: relative;
	height: 4382px;
	width: 1230px;
	padding: 73px 0px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 65px;
    margin-top: -20px;
}

.horn.h1{
	top: 0;
    left: 0;
	background:url('../img/h.png');
}
.horn{
	position: absolute;
    width: 100%;
    height: 73px;
}
.h1{
	color: #fff;
    font-size: 26px;
}
.horn.h2{
	position:absolute;
	bottom: 0px
    left: 0;
	background:url('../img/h40.png');
}
.box1{
	background: url('../img/h41.png');
    padding: 70px 0px;
    padding-bottom: 0;
    width: 1230px;
    height: 4236px;
    overflow:hidden;
}
.box1 .item1{
	position: relative;
	width: 1110px;
	height: 420px;
}
.box1 .fouce{
	position: relative;
	width: 1110px;
	height: 420px;
}
.box1 .item1 .fouce .frame{
	height: 420px;
    position: relative;
}
.child{
	float: left;
    width: 100%;
    height: 420px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;

}
.child .img{
	width: 382px;
    height: 413px;
    overflow: hidden;
    float: left;

}
.item1 .text{
	margin-left: 430px;
    width: 550px;
    margin-top: 15px;
}
.public-title{
	position: relative;
    padding: 0 30px;
    font-size: 34px;
    display: inline-block;
    line-height: 36px;
    height: 40px;
    color: #b2261a;
    margin-bottom: 15px;
    overflow:hidden;

}
.public-title span{
	position: absolute;
    display: inline-block;
    width: 22px;
    height: 100%;
    float:left;
}
.public-title a{
	text-decoration: none;
    color: inherit;
    margin-left:20px;
}
.text .h2{
	font-size: 20px;
    color: #0a0509;
    line-height: 30px;
    margin-bottom: 15px;
}
.text p{
	font-size: 16px;
    color: #707070;
    line-height: 25px;
    margin-bottom: 15px;
}
.frame .nav{
	position: absolute;
    bottom: 115px;
    left: 430px;
}
.frame .nav a{
	display: inline-block;
    background: url('../img/h53.png') no-repeat left center;
    width: 27px;
    height: 25px;
    margin-right: 15px;
}
.frame .botton{
	position: absolute;
    bottom: 35px;
    left: 430px;
}
.frame .botton a{
	display: inline-block;
    width: 252px;
    height: 48px;
    background: url('../img/h44.png') no-repeat;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    vertical-align: middle;
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
}
.frame .icon{
	width: 189px;
    height: 268px;
    background: url('../img/h52.png') no-repeat center;
    position: absolute;
    right: -60px;
    top: 27px;
}
.item2{
	position: relative;
    margin-bottom: 170px;
    width: 1110px;
    height: 550px;
}
.item2 .fouce{
	position: relative;
    padding-top: 105px;
}
.item2 .frame{
	position: relative;
    z-index: 9;
    height: 445px;
    width: 100%;
    overflow: visible;
}
.item2 .child{
	float: left;
    width: 100%;
    height: 445px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.item2 .icon1{
	width: 369px;
    height: 753px;
    right: -60px;
    top: -110px;
	float: left;
    width: 100%;
    height: 445px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow:hidden;
}
.icon1 img{
	float:right;
    border: 0;
    outline: 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.img1 img{
	float:right;
	margin-top:80px;
    border: 0;
    outline: 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.item2 .text{
	margin-left: 30px;
    width: 520px;
    height: 255px;
    margin-top: 15px;
}
.titlebox{
	display: inline-block;
    padding-right: 110px;
    padding-top: 85px;
}
.titlebox .public-title{
	position: relative;
    padding: 0 30px;
    font-size: 34px;
    display: inline-block;
    line-height: 36px;
    height: 40px;
}
.public-title span{
	position: absolute;
    display: block;
    width: 22px;
    height: 100%;
}
.public-title .s2{
	right: 0;
    top: 0;
}
.sel{
    background-color: #C49453;
}
.nav1{
	width: 185px;
	height: 30px;
	position: absolute;
    bottom: 90px;
    left: 30px;
    z-index: 11;
}
.nav1 a{
	display: inline-block;
    background: url('../img/h53.png') no-repeat left center;
    width: 27px;
    height: 25px;
    margin-right: 15px;
}
.item2 .botton{
	position: absolute;
    bottom: -30px;
    left: 30px;
}
.item2 .iocn{
	width: 188px;
    height: 328px;
    background: url('../img/h45.png') no-repeat center;
    position: absolute;
    right: 370px;
    top: 2px;
}

.item3{
	width: 1110px;
	height: 570px;
	position:relative;
	overflow:hidden;
}
.item3 .iocn3{
    width: 290px;
    height: 252px;
    position: absolute;
    top: 10px;
    left: 75px;
    background: url('../img/h47.png') no-repeat;
}
.item3.now .iocn4{
    opacity: 1;
    transform: translateY(0);
}
.item3 .iocn4{
    background: url("../img/h46.png") no-repeat;
    width: 416px;
    height: 482px;
    position: absolute;
    top: 10px;
    left: -60px;
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1.8s;
}
.piclist{
	height: 570px;
    width: 833px;
    position: absolute;
    top: 0;
    left: 255px;
}
.piclist .img{
	width: 271px;
    height: 315px;
    position: absolute;
}
.piclist .i1{
	top: 0;
    left: 140px;
}
.piclist .i2{
	top: 245px;
    left: 0;
}
.piclist .i3{
	top: 245px;
    left: 280px;
}
.piclist .i4{
	top: 245px;
    left: 560px;
}
.public-title{
	position: relative;
    padding: 0 30px;
    font-size: 34px;
    display: inline-block;
    line-height: 36px;
    height: 40px;
    float:right;
    margin-right: 20px; 
    margin-top:20px;
}
.public-title .s1{
	left:2px;
}
.text1 p{
	float:right;
	color: #474747;
    font-size: 20px;
    padding-top: 5px;
    margin-top:60px;
    margin-right: -230px;
}
.botton1 a{
	display: inline-block;
    width: 252px;
    height: 48px;
    background: url('../img/h44.png') no-repeat;
    font-size: 20px;
    color: #474747;
    line-height: 48px;
    margin-top:100px;
    margin-right:-300px;
    float:right;
    text-align:center;
    text-decoration:none;
}
.item3-1{
	
	background: url('../img/h56.png') no-repeat left top;
    min-height: 523px;
    width: 1225px;
    height: 634px;
    margin-left: -60px;
    margin-bottom: 70px;
    position: relative;
}
.item3-1 .text{
	width: 510px;
	height: 292px;
    padding-left: 460px;
    padding-top: 90px;
}
.item3-1 .public-title{
	position: relative;
    padding: 0 30px;
    font-size: 34px;
    display: inline-block;
    line-height: 36px;
    height: 40px;
    margin-right:200px;
}
.item3-1 a{
	display: inline-block;
    width: 252px;
    height: 48px;
    background: url('../img/h44.png') no-repeat;
    font-size: 20px;
    color: #474747;
    line-height: 48px;
    text-align: center;
    text-align:center;
    text-decoration:none;
}
.item3-1 .imglist{
	width: 1133px;
	height: 272px;
    padding: 12px;
    margin: 0 95px;
    margin-top: 70px;
    z-index: 6;
    position: relative;
}
.imglist .item{
	float: left;
    width: 364px;
    height: 248px;
    overflow: hidden;
    margin-left: 8px;
    position: relative;
}
.item3-1 .imglist .item img{
	float:left;
	width: 364px;
	height: 248px;
	border: 0;
    outline: 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.item3-1 .gif1{
	width: 250px;
    height: 250px;
    overflow: hidden;
    position: absolute;
    top: 80px;
    left: 90px;
}
.item3-1 .gif2{
	width: 200px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    top: 241px;
    right: 106px;
}
.item3-1 .gif2 img{
	width: 139.64px;
	height: 200px;
	margin-top:70px;
}
.item3-2{
	width: 1110px;
	height: 536px;
	margin-bottom: 56px;
	position:relative;

}
.item3-2 .tit{
	width: 1110px;
	height: 191px;
	text-align: center;
}
.item3-2 .public-title{
	text-align:center;
	position:absolute;
	margin-top:-55px;
	margin-left:-95px;
}
.item3-2 p{
	width: 1110px;
	height: 60px;
	font-size: 20px;
    color: #070608;
    margin-top: 150px;
}
.item3-2 a{
	display: inline-block;
    width: 252px;
    height: 48px;
    background: url('../img/h44.png') no-repeat;
    font-size: 20px;
    color: #474747;
    line-height: 48px;
    text-align: center;
    text-align:center;
    text-decoration:none;
}
.item3-2 .box2 .img .tit1 {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 25px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.box2 {
	width: 1132.19px;
	height: 430px;
	width: 102%;
    margin-top: -85px;
}
.box2 .img1 {
	width: 499px;
    height: 430px;
    margin-left: -50px;
}
.box2 .img{
	float:right;
	overflow:hidden;
	width: 212px;
    height: 307px;
    margin-top: -298px;
    margin-left: 10px;

}
.item4{
	margin-top:100px;
	width: 1110px;
	height: 550px;
	position: relative;
    margin-bottom: 30px;
}
.item4 .icon{
	width: 291px;
    height: 179px;
    position: absolute;
    background: url('../img/h48.png') no-repeat;
    left: 590px;
    top: 0;
}
.item4 .child{
	position: absolute;
    top: 25px;
    left: 0;
    width: 100%;
    height: 100%;
}
.item4 .public-title{
	float:left;
	margin-top: -55px;
    margin-left: 75px;
}

.item4 .text2 p{
	width: 1110px;
	height: 60px;
	font-size: 20px;
    color: #070608;
    margin-top: 150px;
    margin-left:70px;
}
.item4 .img{
	float:right;
	margin-top: -215px;
    margin-right: -118px;
    width: 914px;
	height:500px;
    outline: 0;
    vertical-align: middle;
    opacity: 0;
    transform: translateX(100px);
    transition: all 2s;
}
.item4 .child.now .img{
    opacity: 1;
    transform: translateX(0);
}
.item4 .nav{
	position: absolute;
    bottom: 280px;
    left: 35px;
}
.item4 a{
	display: inline-block;
    width: 252px;
    height: 48px;
    background: url('../img/h44.png') no-repeat;
    font-size: 20px;
    color: #474747;
    line-height: 48px;
    text-align: center;
    text-decoration:none;
    margin-top: 339px;
    margin-left: 86px;
}
.botton1 img{
	margin-left:50px;
	margin-top: 20px;
}
.item5{
	width: 1110px;
	height: 580px;
	animation-name: bg;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: bg;
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.item5 .icon1{
	background: url('../img/h50.png') no-repeat;
    width: 481px;
    height: 364px;
    position: absolute;
    bottom: 146px;
    right: 0px;
}
.item5 .icon{
	background: url('../img/h49.png') no-repeat;
    width: 100px;
    height: 334px;
    position: absolute;
    bottom: 290px;
    right: 0px;
}
.item5 .icon2{
	background: url('../img/h51.png') no-repeat;
    width: 230px;
    height: 409px;
    top: 0;
    left: -61px;
}
.item5 .icon3{
	background: url('../img/h55.png') no-repeat;
    width: 14px;
    height: 28px;
    top: 50%;
    left: 370px;
    margin-top: -142px;
    margin-left: 436px;

}
.item5 .arc{
	overflow: hidden;
	position: absolute;
	width: 335px;
	height: 580px;
	margin-top:-350px;
	margin-left: 86px;
}
.item5 .arcbox{
	position: absolute;
    width: 500px;
    height: 440px;
    margin-top: 77px;
    margin-left: -229px;

}
.item5 .arcbox .img{
	width: 95px;
    height: 105px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}
.item5 .arcbox img{
	border: 0;
    outline: 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.item5 .botton2{
    width: 13px;
    height: 495px;
    margin-left: 36px;
    margin-top: -635px;
}
.botton2 .prev{
    display: block;
    width: 23px;
    height: 42px;
    background: url('../img/h54.png') no-repeat;
}
.botton2 .next{
	display: block;
    width: 23px;
    height: 42px;
    margin-top:412px;
    background: url('../img/h54.png') no-repeat;
}
.item5 .imgtextwarp{
	margin-top: -124px;
    margin-left: 470px;
    height: 580px;
    width: 720px;
}
.item5 .imglist{
	width: 280px;
    height: 480px;
    top: 35px;
    left: 50px;
}
.imglist img{
	border: 0;
    outline: 0;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
}
.item5 .text{
	margin-top: -515px;
    margin-left: 800px;
    width: 350px;
    position:absolute;
}
.item5 .public-title{
	margin-top: -55px;
    margin-right:113px;
}
